/*  THIN 100 */

@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-Thin.otf);
  font-weight: 100;
  font-style: normal;
}

/*  THIN 100 ITALIC */

@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-ThinItalic.otf);
  font-weight: 100;
  font-style: italic;
}

/* EXTRALIGHT 200 */

@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-XLight.otf);
  font-weight: 200;
  font-style: normal;
}

/* EXTRALIGHT 200 ITALIC */

@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-XLightItalic.otf);
  font-weight: 200;
  font-style: italic;
}

/* LIGHT 300 */

@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-Light.otf);
  font-weight: 300;
  font-style: normal;
}

/* LIGHT 300 ITALIC */

@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}

/*  BOOK 400 */
@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-Book.otf);
  font-weight: 400;
  font-style: normal;
}

/*  BOOK 400 ITALIC */
@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}

/*  REGULAR 500 */
@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-Medium.otf);
  font-weight: 500;
  font-style: normal;
}

/*  REGULAR 500 ITALIC */
@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}

/*  BOLD 700  */
@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

/*  BOLD 700 ITALIC */
@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}

/*  BLACK 800  */
@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-Black.otf);
  font-weight: 800;
  font-style: normal;
}

/*  BLACK 800 ITALIC */
@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-BlackItalic.otf);
  font-weight: 800;
  font-style: italic;
}

/*  ULTRA 900  */
@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-Ultra.otf);
  font-weight: 900;
  font-style: normal;
}

/*  ULTRA 900 ITALIC */
@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gothamnarrow/GothamNarrow-UltraItalic.otf);
  font-weight: 900;
  font-style: italic;
}
