/* html {
  scroll-behavior: smooth;
} */

html,
body,
#__next {
  position: unset;
  min-height: unset;
  height: unset;
}

.prose {
  color: inherit;
  @apply leading-loose;
}

.prose.article {
  /* @apply font-serif; */
  color: inherit;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  b,
  em,
  strong {
    color: inherit;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply pt-1;
  }

  h2 {
    @apply relative font-semibold tracking-normal font-head;
    padding-top: 5rem;
    margin-top: -2rem;

    &:before {
      content: '';
      width: 1em;
      height: 1em;
      position: absolute;
      left: -1.3em;
      background: #000;

      .dark & {
        background: #fff;
      }
    }

    a {
      color: inherit;
      &:hover {
        @apply underline;
      }
    }
  }

  a {
    @apply no-underline transition-colors duration-300 text-brand-500;
  }

  a:hover {
    color: #000;

    .dark & {
      color: #fff;
    }
  }

  p {
    line-height: 1.75;

    /* em {
      @apply font-serif;
      font-size: 1.15em;
    } */
  }

  > p:first-of-type {
    @apply text-3xl font-light leading-snug tracking-tight;
  }

  p img {
    @apply m-0 overflow-hidden border border-gray-200 border-solid shadow-md;

    .dark & {
      @apply border-gray-800 opacity-75;
    }
  }

  /* p img + :is(*) {
    @apply block mt-3 text-xs not-italic font-medium leading-tight opacity-70;
  } */

  figure figcaption {
    @apply block mt-3 text-xs not-italic font-semibold leading-tight opacity-70;
  }

  ol > li::before {
    @apply font-medium text-gray-500 opacity-75 dark:text-gray-600;
  }

  blockquote {
    @apply pl-0 border-0;
    color: inherit;

    p {
      @apply relative max-w-2xl font-serif font-light leading-snug tracking-tight;
      font-size: 2em;

      &:first-of-type:before {
        content: open-quote;
        font-size: 3em;
        position: absolute;
        right: 101%;
        top: -0.15em;
        line-height: 1;
        /* left: -0.45em;
        top: -0.35em; */
        @apply text-gray-400 dark:text-gray-600;
      }
    }
  }

  .toc li {
    margin: 0;
  }
}

.prose.article.tools {
  img {
    margin: 0;
  }

  h4 {
    margin-top: 2rem;
    @apply text-3xl;
  }
}

button:focus {
  outline: none;
}
