button:focus {
  outline: none;
}

.prose.article > p:first-of-type {
  font-size: 1.5em;
  line-height: 1.5;
  @apply text-brand-700 dark:text-brand-500;
}

.prose.article > p > img {
  @apply shadow-md;
  margin: 0;
}

.prose.article > p > img + * {
  @apply block mt-3 text-xs font-bold leading-tight opacity-60;
}
