:root {
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

html,
body,
#__next {
  position: unset;
  min-height: unset;
  height: unset;
}

.prose {
  color: inherit;
  /* @apply leading-loose; */
}

.prose.article {
  /* @apply font-serif; */
  color: inherit;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  b,
  em,
  strong {
    color: inherit;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply pt-1;
  }

  h2 {
    @apply relative font-semibold tracking-normal font-head;
    padding-top: 5rem;
    margin-top: -2rem;

    /* &:before {
      content: '';
      width: 1em;
      height: 1em;
      position: absolute;
      left: -1.3em;
      background: #000;

      .dark & {
        background: #fff;
      }
    } */

    a {
      color: inherit;
      font-weight: inherit;

      &:hover {
        @apply text-brand-500;
      }
    }
  }

  a {
    @apply no-underline transition-colors duration-300 text-brand-500;
  }

  a:hover {
    color: #000;

    .dark & {
      color: #fff;
    }
  }

  p {
    line-height: 1.75;

    /* em {
      @apply font-serif;
      font-size: 1.15em;
    } */
  }

  > p:first-of-type {
    @apply font-serif text-4xl font-light leading-snug tracking-tighter text-gray-600;

    .dark & {
      @apply text-gray-400;
    }
  }

  img {
    @apply m-0 overflow-hidden border border-gray-200 border-solid shadow-md;

    .dark & {
      @apply border-gray-800 opacity-75;
    }
  }

  figure figcaption {
    @apply block mt-2 text-xs not-italic font-semibold leading-tight text-right text-gray-500;
  }

  ol > li::before {
    @apply font-medium text-gray-500 opacity-75 dark:text-gray-600;
  }

  blockquote {
    @apply pl-0 border-0;
    color: inherit;

    p {
      @apply relative max-w-2xl font-serif font-light leading-snug tracking-tight;
      font-size: 2em;

      &:first-of-type:before {
        content: open-quote;
        font-size: 3em;
        position: absolute;
        right: 101%;
        top: -0.15em;
        line-height: 1;
        /* left: -0.45em;
        top: -0.35em; */
        @apply text-gray-400 dark:text-gray-600;
      }
    }
  }

  .toc li {
    margin: 0;
  }
}

.prose.article.tools {
  img {
    @apply m-0 border-0 shadow-none;
  }

  h4 {
    margin-top: 2rem;
    @apply text-3xl;
  }
}

button:focus {
  outline: none;
}
